<h1><%=@dish.name%> Info</h1>

<div id='name'>Name: <%= @dish.name%> </div>
<br>
<div id='descript'>Description: <%= @dish.description%> </div>
<br>
<table id='ingredients'>
  <tr><td>Ingredients</td></tr>
  <%@dish.ingredients.each do |ingredient|%>
  <tr><td><%= ingredient.name%></td></tr>
  <%end%>
</table>
<div id='calories'>Total calories: <%= @dish.tot_cal%> </div>
<br>
<div id='chef'>Chef: <%= @dish.chef.name %> </div>